<div>
    <table style="width:100%">
        <tr>
            <th>Name</th>
            <th>Country</th>
            <th>Percent Match</th>
            <th>Profile</th>
        </tr>
        @*Need to do a repeater for this*@
        <tr>
            <th>${Name}</th>
            <th>${Country}</th>
            <th>${PercentMatch}</th>
            <th><a href="">Request Mentor</a></th>
        </tr>
    </table>
</div>

SIGNUP
<div>
    <h1 style="width: 100%; text-align: center">Are you signing up as a mentor or mentee?</h1>
</div>
<div style="padding: 40px;display: grid; grid-template-columns: 1fr 1fr; grid-template-areas:'item-left item-right'">
    <div class="item-left" style="text-align: center">
        <a href="" style="font-size: 60px">Teacher</a>
    </div>
    <div class="item-right" style="text-align: center">
        <a href="" style="font-size: 60px">Student</a>
    </div>
</div>