
<div style="padding-top: 20px; display: grid; grid-template-columns: 1fr 1fr 1fr; grid-template-areas:'item-left item-middle item-right'">
    <div class="item-left" style="padding: 10px; text-align: right">
        <label>First Name: <input name="first" type="text"/></label><br />
        <label>Last Name: <input name="last" type="text"/></label><br />
        <label>Phone Number: <input name="phone" type="text"/></label><br />
        <label>Email: <input name="email" type="text"/></label><br />
        <label>Country:<input name="country" type="text"/></label><br />
        <label>State/Province: <input name="state" type="text"/></label><br />
        <label>City: <input name="city" type="text"/></label><br />
        <label>Language: <input name="language" type="text" /></label><br />
        <label>Preferred Communication Methods: <input /></label><br />
    </div>
    <div class="item-middle" style="padding: 10px; text-align: center">
        <label>Sponsorship Stage: <input /></label><br />
        <label>Bio: <textarea name="bio" cols="40" rows="5"></textarea></label><br />
        <label>Have you had previous experience? </label><br /> @*This will be a dropdown or a radio button*@
    </div>
    <div class="item-right" style="padding: 10px; text-align: center">
        <label>Refuge Country: <input name="refCountry" type="text"/></label><br />
        <label>Refuge Language: <input name="refLanguage" type="text"/></label><br />
        <label>Refuge Reason: <input name="refReason" type="text"/></label><br />
        <button type="submit">Submit</button>
    </div>
</div>