<div style="padding-top: 20px; display: grid; grid-template-columns: 1fr 1fr 1fr; grid-template-areas:'item-left item-middle item-right'">
    <div class="item-left">
        <label>Name: <input /></label><br />
        <label>Phone Number: <input /></label><br />
        <label>Email: <input /></label><br />
        <label>Country:<input /></label><br />
        <label>State/Province: <input /></label><br />
        <label>City: <input /></label><br />
        <label>Timezone: </label><br /> @*This will be a dropdown*@
        <label>Languages: </label><br /> @*This will be a dropdown*@
        <label>Preferred Communication Methods: <input /></label><br />
    </div>
    <div class="item-middle">
        <label>Years of Experience: </label>
        <label>Bio: </label>
    </div>
    <div class="item-right">
        <button>Request Contact</button>
    </div>
</div>
