@{
    ViewData["Title"] = "About";
}

<div>
    <table style="width:100%">
        <tr>
            <th>Name</th>
            <th>Country</th>
            <th>Percent Match</th>
            <th>Profile</th>
        </tr>
        @*Need to do a repeater for this*@
        <tr>
            <th>${Name}</th>
            <th>${Country}</th>
            <th>${PercentMatch}</th>
            <th><a href="">Request Mentor</a></th>
        </tr>
    </table>
</div>
